<section class="section-padding">
  <div class="page-width">
    <h1>{{ collection.title }}</h1>
    {%- if collection.description != blank -%}
      <div>{{ collection.description }}</div>
    {%- endif -%}
    <div class="grid grid--3" style="margin-top: 3.2rem;">
      {%- for product in collection.products -%}
        <a href="{{ product.url }}" class="card">
          <div class="card__image">
            {%- if product.featured_image != blank -%}
              <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.featured_image.alt | default: product.title }}" loading="lazy">
            {%- else -%}
              {{ 'product-1' | placeholder_svg_tag }}
            {%- endif -%}
          </div>
          <div class="card__content">
            <h3 class="card__title">{{ product.title }}</h3>
            <p class="card__price">{{ product.price | money }}</p>
          </div>
        </a>
      {%- endfor -%}
    </div>
    {%- if paginate.pages > 1 -%}
      {{ paginate | default_pagination }}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Collection",
  "tag": "section"
}
{% endschema %}
